:root {
  box-sizing: border-box;
  --main-color: rgb(0, 0, 0); /* Переменная черного цвета */
  --main-color-light: #dcd4d1; /* Переменная бежевого цвета */
}
*,
::before,
::after {
  box-sizing: inherit;
}
/*Анимация*/
body {
  display: grid;
  grid-template-rows: 0.1fr 1fr auto;
  font-family: "Tahoma";
}
header {
  display: grid;
  background-color: var(--main-color);
  grid-template-rows: 3fr 60px;
}
header .str0 {
  stroke: none;
  stroke-width: 140;
  stroke-miterlimit: 22.9256;
}
header .fil0 {
  fill: #ffffff;
}
.header_logo img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header_logo .logo {
  position: absolute;
  display: flex;
}
header .header_logo svg {
  width: auto;
  height: auto;
  min-width: 20px;
}
.header_text h1 {
  font-size: 8rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Corbel";
}
.header_menu {
  display: flex;
  background-color: var(--main-color);
  z-index: 1;
  box-shadow: 0 0 1em 0em var(--main-color);
  justify-content: center;
  align-items: center;
}
.header_menu nav {
  width: 80%;
}
.header_menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: auto;
}
.header_menu a {
  color: var(--main-color-light);
  font-size: 1.5rem;
  padding: 0.5em 0;
  background-image: url("images/3.svg");
  background-repeat: no-repeat;
  background-position: 0 5em;
  background-size: 0;
}
.header_menu a:hover {
  background-image: url("images/3.svg");
  background-repeat: no-repeat;
  background-position: 0 1.3em;
  background-size: contain;
  transition: 0.3s;
}
.biography {
  background-color: var(--main-color-light);
  display: flex;
  flex-direction: column;
}
.biography .biography__text {
  padding-top: 3%;
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
  text-align: justify;
  z-index: 1;
  text-indent: 30px;
}
.biography__moondog {
  align-self: center;
  justify-self: end;
  margin-top: -11%;
}
.biography__animation {
  width: 100%;
  height: auto;
}
.biography .biography__moondog svg {
  width: auto;
  height: auto;
  max-width: 100%;
}
.music {
  background: var(--main-color);
  z-index: 1;
  box-shadow: 0 0 1em 0em var(--main-color);
}
.music h2 {
  color: white;
  text-align: center;
}
footer {
  gap: 1em;
  background: var(--main-color);
  z-index: 2;
  box-shadow: var(--main-color) 0 0 1em;
}
.footer__main {
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  gap: 1em;
}
footer .footer__menu {
  display: flex;
  gap: 1em;
  list-style-type: none;
  justify-content: center;
}
footer .footer__menu a {
  color: var(--main-color-light);
}
.footer__copir,
.footer__communiti {
  color: var(--main-color-light);
  font-size: 1rem;
}
.footer__logo {
  max-width: 40px;
  margin-left: auto;
}

.footer__common {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 0.5em;
}
/*Адаптив*/
@media (max-width: 1200px) {
  .header_text h1 {
    font-size: 6rem;
  }
  .header_menu a {
    font-size: 1.3rem;
  }
  header .header_logo svg {
    width: auto;
    height: auto;
    max-width: 150px;
  }
}
@media (max-width: 770px) {
  .header_text h1 {
    font-size: 4rem;
  }
  .header_menu a {
    font-size: 1.5rem;
  }
  header .header_logo svg {
    width: auto;
    height: auto;
    max-width: 70px;
  }
  .footer__copir,
  .footer__communiti {
    font-size: 0.5rem;
  }
}
@media (max-width: 640px) {
  header nav {
    margin-top: -50%;
  }
  .header_text h1 {
    font-size: 2rem;
  }
  .header_menu ul {
    flex-flow: column;
    text-align: center;
  }
  header {
    height: 300px;
  }

  .header_menu a {
    font-size: 1.5rem;
  }
  header .header_logo svg {
    width: auto;
    height: auto;
    max-width: 50px;
  }

  .header_logo {
    margin-top: -17%;
    height: 200px;
    margin-bottom: -100px;
    margin-top: -11%;
  }
  .header_logo img {
    display: none;
  }
  .header_menu {
    position: relative;
    visibility: hidden;
  }
  .header_menu ul {
    visibility: visible;
    margin-top: 5%;
  }
}
